<template>
            <div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
                <div class="container-fluid">
                    <!-- LOGO -->
                    <a href="index.html" class="navbar-brand mr-0 mr-md-2 logo">
                        <span class="logo-lg">
                            <i class="el-icon-s-home"></i>
                            <span class="d-inline h5 ml-1 text-logo">Smart <span class="text-primary">Home</span></span>
                        </span>
                        <span class="logo-sm">
                            <i class="el-icon-s-home" style="height:24px;"></i>
                        </span>
                    </a>

                    <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
                        <li class="">
                            <button class="button-menu-mobile open-left disable-btn">
                                <i data-feather="menu" class="menu-icon"></i>
                                <i data-feather="x" class="close-icon"></i>
                            </button>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">
                        <li class="d-none d-sm-block">
                            <div class="app-search">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <div class=" ml-2">
                                            <el-button type="primary" icon="el-icon-search" circle></el-button>
                                        </div>
                                        <div  class="ml-2">
                                            <el-button @click=" () => {microphoneDialogVisible=true ; this.speechRecognition() }" type="primary" icon="el-icon-microphone" circle></el-button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
 
                    </ul>
                </div>
                <el-dialog
                title="Je vous écoute..."
                :visible.sync="microphoneDialogVisible"
                width="30%"
                center>
                <img src="~assets/images/bitmoji2.jpg" alt="">
                <svg id="microphone"
                        class="in-use"
                        width="50"
                        height="50"
                        viewBox="0 0 16 16">

                        <path class="mic-base"
                            d="M9,12.86 L9,14 L9.5,14 C10.15,14 10.69,14.42 10.9,15 L5.1,15 C5.31,14.42 5.85,14 6.5,14 L7,14 L7,12.86 C5.28,12.41 4,10.86 4,9 L4,7 L5,7 L5,9 C5,10.66 6.34,12 8,12 C9.66,12 11,10.66 11,9 L11,7 L12,7 L12,9 C12,10.86 10.72,12.41 9,12.86 L9,12.86 L9,12.86 Z"/>
                        <path class="mic-top"
                            d="M8,11 C6.9,11 6,10.1 6,9 L6,3 C6,1.9 6.9,1 8,1 C9.1,1 10,1.9 10,3 L10,9 C10,10.1 9.1,11 8,11 L8,11 L8,11 Z"/>
                </svg>
                <span>En écoute</span> 
                <div class="mt-2">
                    <span class="font-weight-bold" style="font-size:25px;">{{ command }}</span>
                </div>
                </el-dialog>
            </div>
</template>
<script>
export default {
    data() {
      return {
          microphoneDialogVisible : false,
          command : null,
          speak : true,
          recognition : null
      }
    },
    mounted () {
        this.speechRecognition()
    },
    methods : {
        speechRecognition(){
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
            var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList
            var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent
            var led = ['led un' , 'led deux' , 'led trois']
            // var grammar =  `#JSGF V1.0; grammar led; public <led> =${led.join(' | ')};`
            var grammar = "#JSGF V1.0;"
            var recognition = new SpeechRecognition();
            var speechRecognitionList = new SpeechGrammarList();
            speechRecognitionList.addFromString(grammar, 1);
            recognition.grammars = speechRecognitionList;
            recognition.continuous = false;
            recognition.lang = 'fr-FR';
            recognition.interimResults = false;
            recognition.maxAlternatives = 1;
            recognition.start()
            this.recognition = recognition

            recognition.onresult = (event) =>{
                var command = event.results[0][0].transcript;
                console.log('Confidence: ' + event.results[0][0].confidence);
                console.log('command' , command)
                this.command = command
                if(this.command.toLowerCase().replace(/\s/g, '') == 'salutaudrey'){
                    this.microphoneDialogVisible=true
                    this.command = ''
                    if(this.speak == true){
                        var audio = new Audio('/essai_1.m4a')
                        audio.play()
                        this.speak = false
                        this.speechRecognition()
                    }
                    
                }else{
                    if(this.microphoneDialogVisible == true){
                        this.$store.commit('set_message' , command.toLowerCase())
                        setTimeout(() => {
                            this.microphoneDialogVisible= false
                            this.command = ''
                        }, 700);       
                    }
                }
            }

            recognition.onspeechend = function() {
                this.microphoneDialogVisible= false
                recognition.stop();
            }

            recognition.onnomatch = function(event) {
                this.microphoneDialogVisible= false
                var audio = new Audio('/essai_34.m4a')
                audio.play()
            }
        },

    }
}
</script>
<style scoped>
#microphone.in-use {
  animation: microphone .225s ease infinite alternate;
}

@keyframes microphone {
  from { fill: #ffc446; }
	to { fill: #ff9216; }
}
</style>