<template>
    <div class="left-side-menu">
        <div class="media user-profile mt-2 mb-2">
            <el-avatar :size="40" :src="'https://ui-avatars.com/api/?name='+ customer.last_name + '+'+ customer.given_names +'&bold=true&background=2a41e8&color=ffffff'"></el-avatar>
            <div class="media-body ml-2">
                <h6 class="pro-user-name mt-0 mb-0">Koua Doe</h6>
                <span class="pro-user-desc">Administrateur</span>
            </div>
            <el-dropdown>
                <div class="dropdown align-self-center profile-dropdown-menu" style="cursor:pointer;">
                    <span class="dropdown-toggle mr-0 el-dropdown-link">
                        <i class="el-icon-arrow-down "></i>
                    </span>
                </div>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>
                        <a href="pages-profile.html" class="dropdown-item notify-item">
                            <i  class="el-icon-user icon-dual icon-xs mr-2"></i>
                            <span>Mon Compte</span>
                        </a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class=" el-icon-setting icon-dual icon-xs mr-2"></i>
                            <span>Réglage</span>
                        </a>
                    </el-dropdown-item>
                    <div class="dropdown-divider"></div>
                    <el-dropdown-item>
                        <a href="javascript:void(0);" @click="logout()" class="dropdown-item notify-item">
                            <i  class="el-icon-arrow-left icon-dual icon-xs mr-2"></i>
                            <span>Se déconnecter</span>
                        </a>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>


        <div class="sidebar-content">
            <!--- Sidemenu -->
            <div id="sidebar-menu" class="slimscroll-menu">
                <ul class="metismenu" id="menu-bar">
                    <li class="menu-title">Navigation</li>
                    <li>
                        <NuxtLink to="/">
                            <i data-feather="home"></i>
                            <span class="badge badge-success float-right">1</span>
                            <span> Dashboard </span>
                        </NuxtLink>
                    </li>
                    <li class="menu-title">Apps</li>
                    <li>
                        <NuxtLink  to="/house">
                            <i class="el-icon-s-home"></i>
                            <span> Ma maison </span>
                        </NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/automation">
                            <i class="el-icon-time"></i>
                            <span> Automatisation </span>
                        </NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/logs">
                            <i class="el-icon-s-data"></i>
                            <span> Statistique </span>                          
                        </NuxtLink>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <i class="el-icon-setting"></i>
                            <span> Réglages </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                customer : {
                    last_name : "koua",
                    given_names :  "Doe"
                }
            }
        },
        methods:{
            logout(){
                localStorage.removeItem('hasiottoken')
                this.$router.push('/login')
            }
        }
    }
</script>