<template>
  <div>
  <div class="wrapper">
    <Header />
    <Sidebar />
    <div class="content-page">
      <Nuxt />
    </div>
  </div>
  <Rightbar/>
  </div>
</template>
<style scoped>
.speech{
  position : absolute;
  bottom : 250px;
  right : 20px;
}
</style>
<script>
export default {
  middleware: 'authenticated',
  data(){
    return {
      audio : null

    }
  },
  mounted (){ 
  },

  beforeCreate(){
    this.$store.commit('initialize')
  },
  methods : {
    speechRecognition(){
      var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
      var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList
      var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent
      var led = ['led un' , 'led deux' , 'led trois']
      // var grammar =  `#JSGF V1.0; grammar led; public <led> =${led.join(' | ')};`
      var grammar = "#JSGF V1.0;"
      var recognition = new SpeechRecognition();
      var speechRecognitionList = new SpeechGrammarList();
      speechRecognitionList.addFromString(grammar, 1);
      recognition.grammars = speechRecognitionList;
      recognition.continuous = false;
      recognition.lang = 'fr-FR';
      recognition.interimResults = false;
      recognition.maxAlternatives = 1;
      recognition.start()
      console.log("Starting recording")

      recognition.onresult = function(event){
        var command = event.results[0][0].transcript;
        console.log('Confidence: ' + event.results[0][0].confidence);
        console.log('commande : ' , command)
        
      }
      recognition.onspeechend = function() {
        recognition.stop();
      }

      recognition.onnomatch = function(event) {
        console.log('Oups je n\'ai pas reconnu désolé');
      }
    }
  }
}
</script>