<template>
  <div class="row bg-index pt-2" >
      <div class="col-md-7 mb-3">
          <div class="container pt-1">
              <h1 style="font-size:48px; line-height:62px; font-weight:700;color: rgb(51, 51, 51);" class="text-uppercase"> Etes vous prets pour votre <br> <span class="text-primary">maison connecté</span> <i class="text-primary el-icon-s-home"></i></h1>
              <div class="container">
                  <div v-if="$fetchState.pending" class="d-flex justify-content-center">
                    <div class="spinner-border text-primary m-2" role="status">
                      <span class="sr-only">Chargement...</span>
                    </div>
                  </div>
                  <p class="bg-white" v-else-if="$fetchState.error">Une erreur s'est produite :(</p>
                  <div v-else class="d-flex justify-content-center pb-3">
                      <div v-for="(led , key) in leds" :key="key" class="d-flex flex-column bg-white pl-3 pr-3 pt-2 mr-3" style="border-radius: 20px; width:150px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                          <div class="row">
                            <span>{{etats[key] ? 'On' : 'Off'}}</span>
                            <div class="ml-auto">
                              <el-switch v-if="render" v-model="etats[key]" @change="publish(led.id , key)">
                              </el-switch>
                            </div>
                          </div>
                          <a href="#" class="pt-3">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 24 24" version="1.1" class="svg-main-icon">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <rect x="0" y="0" width="50" height="50"/>
                                      <circle :fill="led.couleur" :opacity="opacity[key]" cx="12" cy="9" r="8"/>
                                      <path d="M14.5297296,11 L9.46184488,11 L11.9758349,17.4645458 L14.5297296,11 Z M10.5679953,19.3624463 L6.53815512,9 L17.4702704,9 L13.3744964,19.3674279 L11.9759405,18.814912 L10.5679953,19.3624463 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                      <path d="M10,22 L14,22 L14,22 C14,23.1045695 13.1045695,24 12,24 L12,24 C10.8954305,24 10,23.1045695 10,22 Z" fill="#000000" opacity="0.3"/>
                                      <path d="M9,20 C8.44771525,20 8,19.5522847 8,19 C8,18.4477153 8.44771525,18 9,18 C8.44771525,18 8,17.5522847 8,17 C8,16.4477153 8.44771525,16 9,16 L15,16 C15.5522847,16 16,16.4477153 16,17 C16,17.5522847 15.5522847,18 15,18 C15.5522847,18 16,18.4477153 16,19 C16,19.5522847 15.5522847,20 15,20 C15.5522847,20 16,20.4477153 16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 C8,20.4477153 8.44771525,20 9,20 Z" fill="#000000"/>
                                  </g>
                              </svg>
                              <el-slider
                                v-model="pwms[key]"
                                :step="10"
                                @change="publish_slide(led.id , key)">
                              </el-slider>
                              <p class="pt-3 text-lowercase">led {{led.nom}}</p>
                          </a>
                      </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button @click="openDialog()" style="padding : 20px 60px; font-weight:700;" class="btn btn-primary p-3 btn-lg text-uppercase" >Ajouter nouvelle led <i class="el-icon-circle-plus-outline"></i></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3">
        <img src="~/assets/images/man.png" alt="man">
      </div>
      <el-dialog
        title="Ajouter une LED"
        :visible.sync="centerDialogVisible"
        width="30%"
        center>
        <p class="text-center font-weight-bold">veuillez remplir le formulaire suivant afin d'ajouter la led</p>
        <el-alert
          title="Position de la led"
          type="warning"
          :description="`La led doit etre sur le port GPIO ${posLeds[leds.length]}`"
          show-icon>
        </el-alert>
        <el-form ref="form" :model="form">
          <el-form-item label="Nom de la LED"> 
            <el-input v-model="form.nom"></el-input>
          </el-form-item>
          <el-form-item label="Choisir la couleur de la LED"> 
            <el-color-picker v-model="form.couleur"></el-color-picker>
          </el-form-item>
          <span>Couleur choisie : {{ form.couleur}}</span>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="centerDialogVisible = false">Annuler</el-button>
          <el-button type="primary" @click="postLed()">Valider</el-button>
        </span>
      </el-dialog>
  </div>
</template>
<script>
import { BACKEND  } from '@/config/endpoint.js';
  import axios from 'axios'
  import mqtt from 'mqtt'
  export default {
    data() {
      return {
        receiveNews : '',
        client : null,
        posLeds : [2 , 4 , 14 , 13],
        etats : [],
        pwms : [],
        leds : [],
        opacity : [0 , 0 ,  0 , 0],
        centerDialogVisible: false,
        connection: {
          host: 'broker.mqttdashboard.com',
          port: 8000,
          pub_topic : "pi/esp12",
          sub_topic : "esp12/pi",
          endpoint: '/mqtt',
          clean: true, 
          connectTimeout: 4000, 
          reconnectPeriod: 4000, 
          clientId: 'pi',
          username: 'pi',
          password: 'raspberry',
        },
        render : true,
        form : {
          nom : null,
          couleur : null,
        },
        subscription :{
          topic : 'esp32/pi',
          qos : 2
        },
        subscribeSuccess : false,
      }
    },

    created() {
      this.unsubscribe = this.$store.subscribe((mutation, state) => {
        console.log(`Updating to ${state.message}`);
        if (mutation.type === 'set_message') {
            for(let i = 0 ; i< this.leds.length ; i++){
              let dico_allume = [
                `allumeled${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `allumelaled${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`, 
                `allume${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `allumela${this.leds[i].nom.toLowerCase().replace(/\s/g, '')},` 

              ]
              let dico_eteins = [
                `éteins${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `éteinsled${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                'éteinsla' + this.leds[i].nom.toLowerCase().replace(/\s/g, ''),
                `éteinslaled${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `éteinslalettre${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `étaitlaled${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `étaitlalettre${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `était${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `éteinsleled${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `éteinslesled${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                `etelleest${this.leds[i].nom.toLowerCase().replace(/\s/g, '')}`,
                
              ]
              if (dico_allume.indexOf(state.message.replace(/\s/g, '')) > -1 ) {
                if(this.etats[i] != 1){
                    this.opacity[i]=  1
                    this.etats[i] = true
                    this.render = false
                    this.render = true
                    let payload = `s${this.leds[i].id}1`
                    let qos = 2
                    let topic = this.connection.pub_topic
                    this.client.publish(topic, payload, qos, error => {
                      if (error) {
                        console.log('Publish error', error)
                      }else{
                        this.setTime(this.leds[i].id , i , 1)
                        console.log('Published successfully')
                      }
                    })
                }else{
                  //deja allumé
                }
              }else if(dico_eteins.indexOf(state.message.replace(/\s/g, '')) > -1){
                  if(this.etats[i] != 0){
                    this.opacity[i]=  0
                    this.etats[i] = 0
                    this.render = false
                    this.render = true
                    let payload = `s${this.leds[i].id}0`
                    let qos = 2
                    let topic = this.connection.pub_topic
                    this.client.publish(topic, payload, qos, error => {
                      if (error) {
                        console.log('Publish error', error)
                      }else{
                        this.setTime(this.leds[i].id , i , 0)
                        console.log('Published successfully')
                      }
                    })
                  }else{
                    //deja éteins
                  }
              }else{
                //pas reconnu
                  var audio = new Audio('/essai_31.m4a')
                  audio.play()
              }
            }
        }
      })
    },

    beforeDestroy() {
      this.unsubscribe();
    },

    async fetch(){
      var url = BACKEND.DEV_URL + 'leds'
      this.leds = await axios.get(url).then(res => {
        res.data.forEach((led) => this.etats.push(led.etat == 1 ? true :false))
        this.showColor()
        return res.data
      })
    },

    mounted(){
      this.connect()
    },

    methods: {
      showColor(){
        this.etats.forEach((etat , key) =>{
          this.opacity[key] = this.etats[key] == true ? 1 :0
        })
      },
      postLed(){
          axios({
              method : 'post',
              url : 'BACKEND.DEV_URL' +leds,
              data : {
                  nom : this.form.nom,
                  couleur : this.form.couleur,
                  broche : this.posLeds[this.leds.length]
              }
          })
          .then((response)=> { 
              this.centerDialogVisible = false
              console.log(response.data)
              this.leds.push({
                broche : response.data.broche,
                couleur : response.data.couleur,
                id : response.data.id,
                nom : response.data.nom,
              })
              this.$message({
                message: 'LED ajoutée avec succès.',
                type: 'success'
              })
          }).catch(error =>{
              console.log(error);       
          });
      },

      openDialog(){
        if(this.leds.length < 3){
          this.centerDialogVisible = true
        }else{
            this.$message({
              message: 'Oups ! Nombre max atteint.',
              type: 'error'
            })     
        }
      },
 
      connect() {
          const { host, port, pub_topic , sub_topic ,endpoint ,  ...options } = this.connection
          const connectUrl = `ws://${host}:${port}${endpoint}`
          try {
            this.client = mqtt.connect(connectUrl, options)
          } catch (error) {
            console.log('mqtt.connect error', error)
          }

          this.client.on('connect', () => {
            console.log('Connection succeeded!')
          })

          this.client.on('error', error => {
            console.log('Connection failed', error)
          })

          this.client.on('message', (topic, message) => {
            console.log(`Received message ${message} from topic ${topic}`)
            message = new TextDecoder("utf-8").decode(message)
            if(message[0] =='s'){
              this.publishFromEsp(message)
            }else if(message[0] == 'p'){
              this.publishFromEspPwm(message)
            }
          })
          this.subcribe()
      },

      subcribe(){
        const {topic , qos} = this.subscription
        this.client.subscribe(topic, { qos }, (error, res) => {
          if (error) {
            console.log('Erreur de souscription au topics', error)
            return
          }
          this.subscribeSuccess = true
          console.log('Subscribe to topics res')
        })
      },

      unSubscribe() {
        const { topic } = this.subscription
        this.client.unsubscribe(topic, error => {
          if (error) {
            console.log('Unsubscribe error', error)
          }
        })
      },

      publishFromEspPwm(message){
        console.log("publish slide")
        // console.log("pwm esp", pwm)
        let pwm = parseInt(message.substring(2))
        let key = parseInt(message[1])
        this.opacity[key - 1] = pwm /100
        this.pwms[key - 1] = pwm

        if(pwm <= 99 && pwm >0){
          this.etats[key -1] = true
          this.render = false
          this.render = true
          let payload = message
          let topic = this.connection.pub_topic
          let qos = 2
          this.client.publish(topic, payload, qos, error => {
            if (error) {
              console.log('Publish error', error)
            }else{
              this.setTime(this.leds[key - 1].id , key -1 , 1)
              console.log('Published pwm successfully')
            }
          })
        }else if (pwm == 0){
          //this.setTime(this.leds[key - 1].id , key -1 , 0)
          this.etats[key-1] = false
          this.render = false
          this.render = true
          this.publish(this.leds[key - 1].id , key -1)
        }else if(pwm == 100){
          //this.setTime(this.leds[key - 1].id , key -1, 1)
          this.etats[key-1] = true
          this.render = false
          this.render = true
          this.publish(this.leds[key - 1].id , key -1) 
        }
      },

      publishFromEsp(value) {
          console.log("pusblish from esp , ", value)
          let key = parseInt(value[1])
          let etat = parseInt(value[2])
          console.log("key 1: " , key)
          this.etats[key -1 ] = etat == 1 ? true : false
          this.pwms[key-1] = etat ==1 ? 100 :0
          this.render = false
          this.render = true
          this.opacity[key -1]= this.etats[key-1] == true ? 1 : 0

          let payload = value
          let qos = 2
          let topic = this.connection.pub_topic
          this.client.publish(topic, payload, qos, error => {
            if (error) {
              console.log('Publish error', error)
            }else{
              console.log("key : " , key)
              let value = this.etats[key -1] ? 1 :0
              this.setTime(this.leds[key -1].id , key -1 , etat)
              console.log('Published successfully from esp32')
            }
          })

      },

      publish(led_id , key ) {
          console.log("pusblish")
          let etat = this.etats[key]
          etat = etat ? '1' : '0'
          this.opacity[key]= this.etats[key] == true ? 1 : 0
          this.pwms[key] = this.etats[key]==true ? 100 :0
          let payload = 's' + led_id + etat
          let qos = 2
          let topic = this.connection.pub_topic
          this.client.publish(topic, payload, qos, error => {
            if (error) {
              console.log('Publish error', error)
            }else{
              let value = this.etats[key] ? 1 :0
              console.log('etats value'  ,value)
              this.setTime(led_id , key , value)
              console.log('Published successfully')
            }
          })
      },

      publish_slide(led_id , key){
        console.log("publish slide")
        let pwm = this.pwms[key]
        console.log("pwm", pwm)
        this.opacity[key] = pwm /100

        if(pwm <= 99 && pwm >0){
          this.etats[key] = true
          this.render = false
          this.render = true
          let payload = "p" + led_id.toString() + pwm.toString()
          let topic = this.connection.pub_topic
          let qos = 2
          this.client.publish(topic, payload, qos, error => {
            if (error) {
              console.log('Publish error', error)
            }else{
              this.setTime(led_id , key , 1)
              console.log('Published pwm successfully')
            }
          })
        }else if (pwm == 0){
          this.setTime(led_id , key , 0)
          this.etats[key] = false
          this.render = false
          this.render = true
          this.publish(led_id , key)
        }else if(pwm == 100){
          this.setTime(led_id , key , 1)
          this.etats[key] = true
          this.render = false
          this.render = true
          this.publish(led_id , key) 
        }
      },

      async setTime(id , index , value){
        try {
          console.log("setting time")
          const resp = await axios.post(BACKEND.DEV_URL + 'set_time' , {
            index : index,
            value : value, 
            id : id
          })
          console.log(resp.data)
        }catch(err){
          console.log(err)
        }
      }
    },
  }
</script>
