<template>
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row page-title">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" class="float-right mt-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Shreyu</a></li>
                            <li class="breadcrumb-item"><a href="#">Tasks</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </nav>
                    <h4 class="mb-1 mt-0">Historique</h4>
                </div>
            </div>


            <!-- tasks panel -->
            <div class="row">
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <!-- cta -->
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" class="btn btn-primary"><i
                                                    class='uil uil-plus mr-1'></i>Add New</a>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="float-sm-right mt-3 mt-sm-0">
                                                
                                                <div class="task-search d-inline-block mb-3 mb-sm-0 mr-sm-3">
                                                    <form>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control search-input"
                                                                placeholder="Search..." />
                                                            <span class="uil uil-search icon-search"></span>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-soft-primary" type="button">
                                                                    <i class='uil uil-file-search-alt'></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="dropdown d-inline-block">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class='uil uil-sort-amount-down'></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">Due Date</a>
                                                        <a class="dropdown-item" href="#">Added Date</a>
                                                        <a class="dropdown-item" href="#">Assignee</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col">
                                            <a class="text-dark" data-toggle="collapse" href="#todayTasks"
                                                aria-expanded="false" aria-controls="todayTasks">
                                                <h5 class="mb-0"><i class='uil uil-angle-down font-size-18'></i>Today <span
                                                        class="text-muted font-size-14">(10)</span></h5>
                                            </a>

                                            <div class="collapse show" id="todayTasks">
                                                <div class="card mb-0 shadow-none">
                                                    <div class="card-body">
                                                        <!-- task -->
                                                        <div class="row justify-content-sm-between border-bottom">
                                                            <div class="col-lg-6 mb-2 mb-lg-0">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox"
                                                                        class="custom-control-input" id="task1">
                                                                    <label class="custom-control-label"
                                                                        for="task1">
                                                                        Draft the new contract document for
                                                                        sales team
                                                                    </label>
                                                                </div> <!-- end checkbox -->
                                                            </div> <!-- end col -->
                                                            <div class="col-lg-6">
                                                                <div class="d-sm-flex justify-content-between">
                                                                    <div>
                                                                        <img src="assets/images/users/avatar-9.jpg"
                                                                            alt="image"
                                                                            class="avatar-xs rounded-circle"
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom"
                                                                            title="Assigned to Arya S" />
                                                                    </div>
                                                                    <div class="mt-3 mt-sm-0">
                                                                        <ul
                                                                            class="list-inline font-13 text-sm-right">
                                                                            <li class="list-inline-item pr-1">
                                                                                <i
                                                                                    class='uil uil-schedule font-16 mr-1'></i>
                                                                                Today 10am
                                                                            </li>
                                                                            <li class="list-inline-item pr-1">
                                                                                <i
                                                                                    class='uil uil-align-alt font-16 mr-1'></i>
                                                                                3/7
                                                                            </li>
                                                                            <li class="list-inline-item pr-2">
                                                                                <i
                                                                                    class='uil uil-comment-message font-16 mr-1'></i>
                                                                                21
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <span
                                                                                    class="badge badge-soft-danger p-1">High</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div> <!-- end .d-flex-->
                                                            </div> <!-- end col -->
                                                        </div>
                                                        <!-- end task -->

                                                        <!-- task -->
                                                        <div class="row justify-content-sm-between mt-2 border-bottom pt-2">
                                                            <div class="col-lg-6 mb-2 mb-lg-0">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox"
                                                                        class="custom-control-input" id="task2">
                                                                    <label class="custom-control-label"
                                                                        for="task2">
                                                                        iOS App home page
                                                                    </label>
                                                                </div> <!-- end checkbox -->
                                                            </div> <!-- end col -->
                                                            <div class="col-lg-6">
                                                                <div class="d-sm-flex justify-content-between">
                                                                    <div>
                                                                        <img src="assets/images/users/avatar-2.jpg"
                                                                            alt="image"
                                                                            class="avatar-xs rounded-circle"
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom"
                                                                            title="Assigned to James B" />
                                                                    </div>
                                                                    <div class="mt-3 mt-sm-0">
                                                                        <ul
                                                                            class="list-inline font-13 text-sm-right">
                                                                            <li class="list-inline-item pr-1">
                                                                                <i
                                                                                    class='uil uil-schedule font-16 mr-1'></i>
                                                                                Today 4pm
                                                                            </li>
                                                                            <li class="list-inline-item pr-1">
                                                                                <i
                                                                                    class='uil uil-align-alt font-16 mr-1'></i>
                                                                                2/7
                                                                            </li>
                                                                            <li class="list-inline-item pr-2">
                                                                                <i
                                                                                    class='uil uil-comment-message font-16 mr-1'></i>
                                                                                48
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <span
                                                                                    class="badge badge-soft-danger p-1">High</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div> <!-- end .d-flex-->
                                                            </div> <!-- end col -->
                                                        </div>
                                                        <!-- end task -->

                                                        <!-- task -->
                                                        <div class="row justify-content-sm-between mt-2 pt-2">
                                                            <div class="col-lg-6 mb-2 mb-lg-0">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox"
                                                                        class="custom-control-input" id="task3">
                                                                    <label class="custom-control-label"
                                                                        for="task3">
                                                                        Write a release note
                                                                    </label>
                                                                </div> <!-- end checkbox -->
                                                            </div> <!-- end col -->
                                                            <div class="col-lg-6">
                                                                <div class="d-sm-flex justify-content-between">
                                                                    <div>
                                                                        <img src="assets/images/users/avatar-4.jpg"
                                                                            alt="image"
                                                                            class="avatar-xs rounded-circle"
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom"
                                                                            title="Assigned to Kevin C" />
                                                                    </div>
                                                                    <div class="mt-3 mt-sm-0">
                                                                        <ul
                                                                            class="list-inline font-13 text-sm-right mb-0">
                                                                            <li class="list-inline-item pr-1">
                                                                                <i
                                                                                    class='uil uil-schedule font-16 mr-1'></i>
                                                                                Today 6pm
                                                                            </li>
                                                                            <li class="list-inline-item pr-1">
                                                                                <i
                                                                                    class='uil uil-align-alt font-16 mr-1'></i>
                                                                                18/21
                                                                            </li>
                                                                            <li class="list-inline-item pr-2">
                                                                                <i
                                                                                    class='uil uil-comment-message font-16 mr-1'></i>
                                                                                73
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <span
                                                                                    class="badge badge-soft-info p-1">Medium</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div> <!-- end .d-flex-->
                                                            </div> <!-- end col -->
                                                        </div>
                                                        <!-- end task -->
                                                    </div> <!-- end card-body-->
                                                </div> <!-- end card -->
                                            </div> <!-- end .collapse-->

                                            <!-- upcoming tasks -->
                                            <div class="mt-4">
                                                <a class="text-dark" data-toggle="collapse"
                                                    href="#upcomingTasks" aria-expanded="false"
                                                    aria-controls="upcomingTasks">
                                                    <h5 class="mb-0">
                                                        <i class='uil uil-angle-down font-18'></i>Upcoming <span
                                                            class="text-muted font-size-14">(5)</span>
                                                    </h5>
                                                </a>

                                                <div class="collapse show" id="upcomingTasks">
                                                    <div class="card mb-0 shadow-none">
                                                        <div class="card-body">
                                                            <!-- task -->
                                                            <div class="row justify-content-sm-between border-bottom">
                                                                <div class="col-lg-6 mb-2 mb-lg-0">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="task4">
                                                                        <label class="custom-control-label"
                                                                            for="task4">
                                                                            Invite user to a project
                                                                        </label>
                                                                    </div> <!-- end checkbox -->
                                                                </div> <!-- end col -->
                                                                <div class="col-lg-6">
                                                                    <div class="d-sm-flex justify-content-between">
                                                                        <div>
                                                                            <img src="assets/images/users/avatar-2.jpg"
                                                                                alt="image"
                                                                                class="avatar-xs rounded-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="Assigned to James B" />
                                                                        </div>
                                                                        <div class="mt-3 mt-sm-0">
                                                                            <ul
                                                                                class="list-inline font-13 text-sm-right">
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-schedule font-16 mr-1'></i>
                                                                                    Tomorrow
                                                                                    7am
                                                                                </li>
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-align-alt font-16 mr-1'></i>
                                                                                    1/12
                                                                                </li>
                                                                                <li class="list-inline-item pr-2">
                                                                                    <i
                                                                                        class='uil uil-comment-message font-16 mr-1'></i>
                                                                                    36
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span
                                                                                        class="badge badge-soft-danger p-1">High</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> <!-- end .d-flex-->
                                                                </div> <!-- end col -->
                                                            </div>
                                                            <!-- end task -->

                                                            <!-- task -->
                                                            <div class="row justify-content-sm-between mt-2 pt-2 border-bottom">
                                                                <div class="col-lg-6 mb-2 mb-lg-0">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="task5">
                                                                        <label class="custom-control-label"
                                                                            for="task5">
                                                                            Enable analytics tracking
                                                                        </label>
                                                                    </div> <!-- end checkbox -->
                                                                </div> <!-- end col -->
                                                                <div class="col-lg-6">
                                                                    <div class="d-sm-flex justify-content-between">
                                                                        <div>
                                                                            <img src="assets/images/users/avatar-2.jpg"
                                                                                alt="image"
                                                                                class="avatar-xs rounded-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="Assigned to James B" />
                                                                        </div>
                                                                        <div class="mt-3 mt-sm-0">
                                                                            <ul
                                                                                class="list-inline font-13 text-sm-right">
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-schedule font-16 mr-1'></i>
                                                                                    27 Aug
                                                                                    10am
                                                                                </li>
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-align-alt font-16 mr-1'></i>
                                                                                    13/72
                                                                                </li>
                                                                                <li class="list-inline-item pr-2">
                                                                                    <i
                                                                                        class='uil uil-comment-message font-16 mr-1'></i>
                                                                                    211
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span
                                                                                        class="badge badge-soft-success p-1">Low</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> <!-- end .d-flex-->
                                                                </div> <!-- end col -->
                                                            </div>
                                                            <!-- end task -->

                                                            <!-- task -->
                                                            <div class="row justify-content-sm-between mt-2 pt-2">
                                                                <div class="col-lg-6 mb-2 mb-lg-0">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="task6">
                                                                        <label class="custom-control-label"
                                                                            for="task6">
                                                                            Code HTML email template
                                                                        </label>
                                                                    </div> <!-- end checkbox -->
                                                                </div> <!-- end col -->
                                                                <div class="col-lg-6">
                                                                    <div class="d-sm-flex justify-content-between">
                                                                        <div>
                                                                            <img src="assets/images/users/avatar-7.jpg"
                                                                                alt="image"
                                                                                class="avatar-xs rounded-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="Assigned to Edward S" />
                                                                        </div>
                                                                        <div class="mt-3 mt-sm-0">
                                                                            <ul
                                                                                class="list-inline font-13 text-sm-right mb-0">
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-schedule font-16 mr-1'></i>
                                                                                    No Due
                                                                                    Date
                                                                                </li>
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-align-alt font-16 mr-1'></i>
                                                                                    0/7
                                                                                </li>
                                                                                <li class="list-inline-item pr-2">
                                                                                    <i
                                                                                        class='uil uil-comment-message font-16 mr-1'></i>
                                                                                    0
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span
                                                                                        class="badge badge-soft-info p-1">Medium</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> <!-- end .d-flex-->
                                                                </div> <!-- end col -->
                                                            </div>
                                                            <!-- end task -->
                                                        </div> <!-- end card-body-->
                                                    </div> <!-- end card -->
                                                </div> <!-- end collapse-->
                                            </div>
                                            <!-- end upcoming tasks -->

                                            <!-- start other tasks -->
                                            <div class="mt-4 mb-4">
                                                <a class="text-dark" data-toggle="collapse" href="#otherTasks"
                                                    aria-expanded="false" aria-controls="otherTasks">
                                                    <h5>
                                                        <i class='uil uil-angle-down font-18'></i>Other <span
                                                            class="text-muted font-size-14">(5)</span>
                                                    </h5>
                                                </a>

                                                <div class="collapse show" id="otherTasks">
                                                    <div class="card mb-0 shadow-none">
                                                        <div class="card-body">
                                                            <!-- task -->
                                                            <div class="row justify-content-sm-between border-bottom">
                                                                <div class="col-lg-6 mb-2 mb-lg-0">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="task7">
                                                                        <label class="custom-control-label"
                                                                            for="task7">
                                                                            Coordinate with business development
                                                                        </label>
                                                                    </div> <!-- end checkbox -->
                                                                </div> <!-- end col -->
                                                                <div class="col-lg-6">
                                                                    <div class="d-sm-flex justify-content-between">
                                                                        <div>
                                                                            <img src="assets/images/users/avatar-9.jpg"
                                                                                alt="image"
                                                                                class="avatar-xs rounded-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="Assigned to Arya S" />
                                                                        </div>
                                                                        <div class="mt-3 mt-sm-0">
                                                                            <ul
                                                                                class="list-inline font-13 text-sm-right">
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-schedule font-16 mr-1'></i>
                                                                                    Today
                                                                                    10am
                                                                                </li>
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-align-alt font-16 mr-1'></i>
                                                                                    5/14
                                                                                </li>
                                                                                <li class="list-inline-item pr-2">
                                                                                    <i
                                                                                        class='uil uil-comment-message font-16 mr-1'></i>
                                                                                    71
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span
                                                                                        class="badge badge-soft-info p-1">Medium</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> <!-- end .d-flex-->
                                                                </div> <!-- end col -->
                                                            </div>
                                                            <!-- end task -->

                                                            <!-- task -->
                                                            <div class="row justify-content-sm-between mt-2 border-bottom pt-2">
                                                                <div class="col-lg-6 mb-2 mb-lg-0">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="task8">
                                                                        <label class="custom-control-label"
                                                                            for="task8">
                                                                            Kanban board design
                                                                        </label>
                                                                    </div> <!-- end checkbox -->
                                                                </div> <!-- end col -->
                                                                <div class="col-lg-6">
                                                                    <div class="d-sm-flex justify-content-between">
                                                                        <div>
                                                                            <img src="assets/images/users/avatar-2.jpg"
                                                                                alt="image"
                                                                                class="avatar-xs rounded-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="Assigned to James B" />
                                                                        </div>
                                                                        <div class="mt-3 mt-sm-0">
                                                                            <ul
                                                                                class="list-inline font-13 text-sm-right">
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-schedule font-16 mr-1'></i>
                                                                                    No Due
                                                                                    Date
                                                                                </li>
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-align-alt font-16 mr-1'></i>
                                                                                    0/8
                                                                                </li>
                                                                                <li class="list-inline-item pr-2">
                                                                                    <i
                                                                                        class='uil uil-comment-message font-16 mr-1'></i>
                                                                                    0
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span
                                                                                        class="badge badge-soft-info p-1">Medium</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> <!-- end .d-flex-->
                                                                </div> <!-- end col -->
                                                            </div>
                                                            <!-- end task -->

                                                            <!-- task -->
                                                            <div class="row justify-content-sm-between mt-2 border-bottom pt-2">
                                                                <div class="col-lg-6 mb-2 mb-lg-0">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="task11">
                                                                        <label class="custom-control-label"
                                                                            for="task11">
                                                                            Draft the new contract document for
                                                                            sales team
                                                                        </label>
                                                                    </div> <!-- end checkbox -->
                                                                </div> <!-- end col -->
                                                                <div class="col-lg-6">
                                                                    <div class="d-sm-flex justify-content-between">
                                                                        <div>
                                                                            <img src="assets/images/users/avatar-9.jpg"
                                                                                alt="image"
                                                                                class="avatar-xs rounded-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="Assigned to Arya S" />
                                                                        </div>
                                                                        <div class="mt-3 mt-sm-0">
                                                                            <ul
                                                                                class="list-inline font-13 text-sm-right">
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-schedule font-16 mr-1'></i>
                                                                                    Today 10am
                                                                                </li>
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-align-alt font-16 mr-1'></i>
                                                                                    3/7
                                                                                </li>
                                                                                <li class="list-inline-item pr-2">
                                                                                    <i
                                                                                        class='uil uil-comment-message font-16 mr-1'></i>
                                                                                    21
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span
                                                                                        class="badge badge-soft-danger p-1">High</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> <!-- end .d-flex-->
                                                                </div> <!-- end col -->
                                                            </div>
                                                            <!-- end task -->

                                                            <!-- task -->
                                                            <div class="row justify-content-sm-between mt-2 border-bottom pt-2">
                                                                <div class="col-lg-6 mb-2 mb-lg-0">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="task12">
                                                                        <label class="custom-control-label"
                                                                            for="task12">
                                                                            iOS App home page
                                                                        </label>
                                                                    </div> <!-- end checkbox -->
                                                                </div> <!-- end col -->
                                                                <div class="col-lg-6">
                                                                    <div class="d-sm-flex justify-content-between">
                                                                        <div>
                                                                            <img src="assets/images/users/avatar-2.jpg"
                                                                                alt="image"
                                                                                class="avatar-xs rounded-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="Assigned to James B" />
                                                                        </div>
                                                                        <div class="mt-3 mt-sm-0">
                                                                            <ul
                                                                                class="list-inline font-13 text-sm-right">
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-schedule font-16 mr-1'></i>
                                                                                    Today 4pm
                                                                                </li>
                                                                                <li class="list-inline-item pr-1">
                                                                                    <i
                                                                                        class='uil uil-align-alt font-16 mr-1'></i>
                                                                                    2/7
                                                                                </li>
                                                                                <li class="list-inline-item pr-2">
                                                                                    <i
                                                                                        class='uil uil-comment-message font-16 mr-1'></i>
                                                                                    48
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span
                                                                                        class="badge badge-soft-danger p-1">High</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> <!-- end .d-flex-->
                                                                </div> <!-- end col -->
                                                            </div>
                                                            <!-- end task -->

                                                            <!-- task -->
                                                            <div class="row justify-content-sm-between mt-2 pt-2">
                                                                <div class="col-lg-6 mb-2 mb-lg-0">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="task13">
                                                                        <label class="custom-control-label"
                                                                            for="task13">
                                                                            Write a release note
                                                                        </label>
                                                                    </div> <!-- end checkbox -->
                                                                </div> <!-- end col -->
                                                                <div class="col-lg-6">
                                                                    <div class="d-sm-flex justify-content-between">
                                                                        <div>
                                                                            <img src="assets/images/users/avatar-4.jpg"
                                                                                alt="image"
                                                                                class="avatar-xs rounded-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="Assigned to Kevin C" />
                                                                        </div>
                                                                        <div class="mt-3 mt-sm-0">
                                                                            <ul
                                                                                class="list-inline font-13 text-sm-right mb-0">
                                                                                <li class="list-inline-item">
                                                                                    <i
                                                                                        class='uil uil-schedule font-16 mr-1'></i>
                                                                                    Today 6pm
                                                                                </li>
                                                                                <li class="list-inline-item pr-1">>
                                                                                    <i
                                                                                        class='uil uil-align-alt font-16 mr-1'></i>
                                                                                    18/21
                                                                                </li>
                                                                                <li class="list-inline-item pr-2">
                                                                                    <i
                                                                                        class='uil uil-comment-message font-16 mr-1'></i>
                                                                                    73
                                                                                </li>
                                                                                <li class="list-inline-item">
                                                                                    <span
                                                                                        class="badge badge-soft-info p-1">Medium</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> <!-- end .d-flex-->
                                                                </div> <!-- end col -->
                                                            </div>
                                                            <!-- end task -->
                                                        </div> <!-- end card-body-->
                                                    </div> <!-- end card -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3 mt-5">
                                        <div class="col-12">
                                            <div class="text-center">
                                                <a href="javascript:void(0);" class="btn btn-white mb-3">
                                                    <i data-feather="loader" class="icon-dual icon-xs mr-2"></i>
                                                    Load more
                                                </a>
                                            </div>
                                        </div> <!-- end col-->
                                    </div>
                                    <!-- end row -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- task details -->
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row pb-3 border-bottom">
                                <div class="col">
                                    <div class="dropdown float-right">
                                        <a href="#" class="dropdown-toggle arrow-none text-muted"
                                            data-toggle="dropdown" aria-expanded="false">
                                            <i class='uil uil-ellipsis-h'></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">
                                                <i class='uil uil-file-upload mr-1'></i>Attachment
                                            </a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">
                                                <i class='uil uil-edit mr-1'></i>Edit
                                            </a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">
                                                <i class='uil uil-file-copy-alt mr-1'></i>Mark as Duplicate
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item text-danger">
                                                <i class='uil uil-trash-alt mr-1'></i>Delete
                                            </a>
                                        </div> <!-- end dropdown menu-->
                                    </div> <!-- end dropdown-->

                                    <div class="custom-control custom-checkbox float-left">
                                        <input type="checkbox" class="custom-control-input" id="completedCheck">
                                        <label class="custom-control-label" for="completedCheck">
                                            Mark as completed
                                        </label>
                                    </div> <!-- end custom-checkbox-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h4 class="mt-3">Draft the new contract document for sales team</h4>

                                    <div class="row">
                                        <div class="col-6">
                                            <!-- assignee -->
                                            <p class="mt-2 mb-1 text-muted">Assigned To</p>
                                            <div class="media">
                                                <img src="assets/images/users/avatar-9.jpg" alt="Arya S"
                                                    class="rounded-circle mr-2" height="24" />
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-size-14">
                                                        Arya Stark
                                                    </h5>
                                                </div>
                                            </div>
                                            <!-- end assignee -->
                                        </div> <!-- end col -->

                                        <div class="col-6">
                                            <!-- start due date -->
                                            <p class="mt-2 mb-1 text-muted">Due Date</p>
                                            <div class="media">
                                                <i class='uil uil-schedule font-18 text-success mr-1'></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-size-14">
                                                        Today 10am
                                                    </h5>
                                                </div>
                                            </div>
                                            <!-- end due date -->
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->

                                    <!-- task description -->
                                    <div class="row mt-3">
                                        <div class="col">
                                            <div id="taskDesk">
                                                <p>This is a task description with markup support</p>
                                                <ul>
                                                    <li>Select a text to reveal the toolbar.</li>
                                                    <li>Edit rich document on-the-fly, so elastic!</li>
                                                </ul>
                                                <p>End of air-mode area</p>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                    <!-- end task description -->

                                    <!-- start sub tasks/checklists -->
                                    <h5 class="mt-4 mb-2 font-size-16">Checklists/Sub-tasks</h5>
                                    <div class="custom-control custom-checkbox mt-1">
                                        <input type="checkbox" class="custom-control-input" id="checklist1">
                                        <label class="custom-control-label strikethrough" for="checklist1">
                                            Find out the old contract documents
                                        </label>
                                    </div>

                                    <div class="custom-control custom-checkbox mt-1">
                                        <input type="checkbox" class="custom-control-input" id="checklist2">
                                        <label class="custom-control-label strikethrough" for="checklist2">
                                            Organize meeting sales associates to understand need in detail
                                        </label>
                                    </div>

                                    <div class="custom-control custom-checkbox mt-1">
                                        <input type="checkbox" class="custom-control-input" id="checklist3">
                                        <label class="custom-control-label strikethrough" for="checklist3">
                                            Make sure to cover every small details
                                        </label>
                                    </div>
                                    <!-- end sub tasks/checklists -->

                                    <!-- start attachments -->
                                    <h5 class="mt-4 mb-2 font-size-16">Attachments</h5>
                                    <div class="card mb-2 shadow-none border">
                                        <div class="p-1 px-2">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <img src="assets/images/projects/project-1.jpg"
                                                        class="avatar-sm rounded" alt="file-image">
                                                </div>
                                                <div class="col pl-0">
                                                    <a href="javascript:void(0);"
                                                        class="text-muted font-weight-bold">sales-assets.zip</a>
                                                    <p class="mb-0">2.3 MB</p>
                                                </div>
                                                <div class="col-auto">
                                                    <!-- Button -->
                                                    <a href="javascript:void(0);" data-toggle="tooltip"
                                                        data-placement="bottom" title="Download"
                                                        class="btn btn-link text-muted btn-lg p-0">
                                                        <i class='uil uil-cloud-download font-size-14'></i>
                                                    </a>
                                                    <a href="javascript:void(0);" data-toggle="tooltip"
                                                        data-placement="bottom" title="Delete"
                                                        class="btn btn-link text-danger btn-lg p-0">
                                                        <i class='uil uil-multiply font-size-14'></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 shadow-none border">
                                        <div class="p-1 px-2">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <img src="assets/images/projects/project-2.jpg"
                                                        class="avatar-sm rounded" alt="file-image">
                                                </div>
                                                <div class="col pl-0">
                                                    <a href="javascript:void(0);"
                                                        class="text-muted font-weight-bold">new-contarcts.docx</a>
                                                    <p class="mb-0">1.25 MB</p>
                                                </div>
                                                <div class="col-auto">
                                                    <!-- Button -->
                                                    <a href="javascript:void(0);" data-toggle="tooltip"
                                                        data-placement="bottom" title="Download"
                                                        class="btn btn-link text-muted btn-lg p-0">
                                                        <i class='uil uil-cloud-download font-size-14'></i>
                                                    </a>
                                                    <a href="javascript:void(0);" data-toggle="tooltip"
                                                        data-placement="bottom" title="Delete"
                                                        class="btn btn-link text-danger btn-lg p-0">
                                                        <i class='uil uil-multiply font-size-14'></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end attachments -->

                                    <!-- comments -->
                                    <div class="row mt-3">
                                        <div class="col">
                                            <h5 class="mb-2 font-size-16">Comments</h5>

                                            <div class="media mt-3 p-1">
                                                <img src="assets/images/users/avatar-9.jpg"
                                                    class="mr-2 rounded-circle" height="36" alt="Arya Stark" />
                                                <div class="media-body">
                                                    <h5 class="mt-0 mb-0 font-size-14">
                                                        <span
                                                            class="float-right text-muted font-size-12">4:30am</span>
                                                        Arya Stark
                                                    </h5>
                                                    <p class="mt-1 mb-0 text-muted">
                                                        Should I review the last 3 years legal documents as
                                                        well?
                                                    </p>
                                                </div>
                                            </div> <!-- end comment -->

                                            <hr />

                                            <div class="media mt-2 p-1">
                                                <img src="assets/images/users/avatar-5.jpg"
                                                    class="mr-2 rounded-circle" height="36" alt="Dominc B" />
                                                <div class="media-body">
                                                    <h5 class="mt-0 mb-0 font-size-14">
                                                        <span
                                                            class="float-right text-muted font-size-12">3:30am</span>
                                                        Gary Somya
                                                    </h5>
                                                    <p class="mt-1 mb-0 text-muted">
                                                        @Arya FYI..I have created some general guidelines last
                                                        year.
                                                    </p>
                                                </div>
                                            </div> <!-- end comment-->

                                            <hr />

                                        </div> <!-- end col -->
                                    </div> <!-- end row -->

                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="border rounded">
                                                <form action="#" class="comment-area-box">
                                                    <textarea rows="3" class="form-control border-0 resize-none"
                                                        placeholder="Your comment..."></textarea>
                                                    <div class="p-2 bg-light">
                                                        <div class="float-right">
                                                            <button type="submit"
                                                                class="btn btn-sm btn-success"><i
                                                                    class='uil uil-message mr-1'></i>Submit</button>
                                                        </div>
                                                        <div>
                                                            <a href="#" class="btn btn-sm px-1 btn-light"><i
                                                                    class='uil uil-cloud-upload'></i></a>
                                                            <a href="#" class="btn btn-sm px-1 btn-light"><i
                                                                    class='uil uil-at'></i></a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div> <!-- end .border-->
                                        </div> <!-- end col-->
                                    </div> <!-- end row-->
                                    <!-- end comments -->
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>

        </div> <!-- container-fluid -->

    </div> <!-- content -->
</template>