<template>
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row page-title">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" class="float-right mt-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Shreyu</a></li>
                            <li class="breadcrumb-item"><a href="#">Tasks</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </nav>
                    <h4 class="mb-1 mt-0">Historique</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mt-0 mb-1">Durée d'utiisation des leds</h4>
                            <p class="sub-header">
                                Regarder votre consommation électrique de l'ensemble de vos leds
                            </p>

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Led</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Mois</th>
                                        <th scope="col">Sems</th>
                                        <th scope="col">Jours</th>
                                        <th scope="col">Heures</th>
                                        <th scope="col">Minutes</th>
                                        <th scope="col">Secs</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(led , key) in leds" :key="key">
                                            <th scope="row">{{key +1}}</th>
                                            <td>
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 24 24" version="1.1" class="svg-main-icon">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="50" height="50"/>
                                                        <circle :fill="led.couleur" opacity="1" cx="12" cy="9" r="8"/>
                                                        <path d="M14.5297296,11 L9.46184488,11 L11.9758349,17.4645458 L14.5297296,11 Z M10.5679953,19.3624463 L6.53815512,9 L17.4702704,9 L13.3744964,19.3674279 L11.9759405,18.814912 L10.5679953,19.3624463 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                        <path d="M10,22 L14,22 L14,22 C14,23.1045695 13.1045695,24 12,24 L12,24 C10.8954305,24 10,23.1045695 10,22 Z" fill="#000000" opacity="0.3"/>
                                                        <path d="M9,20 C8.44771525,20 8,19.5522847 8,19 C8,18.4477153 8.44771525,18 9,18 C8.44771525,18 8,17.5522847 8,17 C8,16.4477153 8.44771525,16 9,16 L15,16 C15.5522847,16 16,16.4477153 16,17 C16,17.5522847 15.5522847,18 15,18 C15.5522847,18 16,18.4477153 16,19 C16,19.5522847 15.5522847,20 15,20 C15.5522847,20 16,20.4477153 16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 C8,20.4477153 8.44771525,20 9,20 Z" fill="#000000"/>
                                                    </g>
                                                </svg>
                                            </td>
                                            <td class="text-uppercase font-weight-bold">{{led.nom}}</td>
                                            <td>{{led.running_day | deriveMonth}}</td>
                                            <td>{{led.running_day | deriveWeek}}</td>
                                            <td>{{led.running_day | deriveDay}}</td>
                                            <td>{{led.running_hour}}</td>
                                            <td>{{led.running_minute}}</td>
                                            <td>{{led.running_second}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mt-0 mb-1">Diagramme</h4>
                            <!-- <p class="sub-header">You can also invert the colors—with light text on dark backgrounds—with <code>.table-dark</code>.</p> -->
                            <apexchart v-if="this.series.length !=0"  width="380" type="pie" :options="options" :series="series"></apexchart>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- container-fluid -->

    </div> <!-- content -->
</template>
<script>
import axios from 'axios'
import { BACKEND } from '@/config/endpoint.js';
export default {
    data(){
        return {
            leds : [],
            options: {
                labels : [],
                colors : []
            },
            series: [],
        }
    },

    filters : {
        deriveMonth(days){
            days = parseInt(days)
            return Math.floor(days/30)
        },
        deriveWeek(days){
            days = parseInt(days)
            var months = Math.floor(days/30)
            days = days - months *30
            var weeks = Math.floor(days / 7)
            return weeks
        },
        deriveDay(days){
            days = parseInt(days)
            var months = Math.floor(days/30)
            days = days - months *30
            var weeks = Math.floor(days / 7)
            days = days -weeks *7
            return days
        }
    },
    computed:{
    },
    async fetch(){
      var url = BACKEND.DEV_URL + 'leds'
      this.leds = await axios.get(url).then(res => {
          this.options.colors = res.data.map(led => {
              return led.couleur.toLowerCase()
          })
          this.options.labels = res.data.map(led => {
              return led.nom.toLowerCase()
          })
          this.series = res.data.map(led => {
              return led.running_day * 1440 + led.running_hour *60 + led.running_minute+ led.running_second /60
          })
          return res.data
        })
    },
}
</script>